.App {
  text-align: center;
  background-color: lightgrey;
}

body {
  background-color: lightgrey;
}

/* Header Styling - Start */
.Header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 3px;
  font-size: 12px;
}
#Home {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin: auto;
}
.Nav {
  margin: 0px;
  width: 100%;
  padding: 0px;
  margin: auto;
}
.NavButtons {
  all: unset;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0% 0.3% 0% 0.3%;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 165%;
  color: #ffffff;
  background-color: grey;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}
.NavButtons:hover {
  background-color: #c31432;
  color: white;
}
/* Header Styling - Ends */

/* Article List/Card Styling - Starts */
.ArticleList {
  align-self: center;
}
.ArticleCard {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 33% 33% 33%;
  height: 250px;
  width: 60%;
  background-color: white;
  margin: 20px 20px 20px 290px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 100%;
}
#ColorBlock1 {
  grid-area: 1 / 1 / span 1 / span 1;
  position: relative;
  background-color: rgb(228, 228, 228);
  border-top-left-radius: 10px;
}
#ArticleCardVoter {
  grid-area: 2 / 1 / span 1 / span 1;
  position: relative;
  background-color: rgb(228, 228, 228);
}
#ColorBlock2 {
  grid-area: 3 / 1 / span 2 / span 1;
  position: relative;
  background-color: rgb(228, 228, 228);
  border-bottom-left-radius: 10px;
}
#ArticleTitle {
  text-decoration: none;
  grid-area: 1 / 2 / span 1 / span 1;
}
#ArticleAuthor {
  grid-area: 2 / 2 / span 1 / span 1;
}
#ArticleCommentsValue {
  grid-area: 3 / 2 / span 1 / span 1;
}
/* Article List/Card Styling - Ends */

/* Voter Button Styling - Starts */
#voter {
  text-align: center;
}
.voteValue {
  margin: 0px;
}
.upVoteButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: black;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%px;
  font-size: 30px;
  margin: 0px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.upVoteButton:hover {
  background-color: rgb(63, 170, 63);
  color: white;
}
.downVoteButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: black;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%px;
  font-size: 30px;
  margin: 0px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.downVoteButton:hover {
  background-color: rgb(212, 78, 78);
  color: white;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Voter Button Styling - Ends */

/* Sorter Dropdown Styling - Starts */
.Sorter {
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: black;
  padding: 0.6% 1.4% 0.5% 0.8%;
  width: 13%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: -10px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: white;
}
/* Sorter Dropdown Styling - Ends */

/* Single Article Styling - Starts*/

.ArticleContainer {
  display: block;
  height: auto;
  width: 60%;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 4.5%,
    white 4.5% 90%
  );
  margin: auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 100%;
}

.SingleArticleVoter {
  display: flex;
  position: inherit;
  width: 4%;
  left: 92%;
  top: -60px;
  border-radius: 10%;
  box-shadow: 1px 1px 3px rgb(153, 153, 153);
}

/* Single Article Styling - Ends*/

/* Article Comments Styling - Starts*/
#CommentCard {
  display: block;
  height: auto;
  width: 98.5%;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 4.5%,
    white 4.5% 90%
  );
  margin: 10px 10px 10px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

#ArticleText {
  font-size: 20px;
}

#AddCommentBox {
  height: 25px;
}

#AddCommentButton {
  all: unset;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

#AddCommentButton:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

/* Article Comments Styling - Ends*/

/* Topic List/Card Styling - Starts */
.TopicList {
  align-self: center;
}
.TopicCard {
  display: block;
  height: 150px;
  width: 60%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.514) 4.5%,
    white 4.5% 95.5%,
    rgba(255, 255, 255, 0.514) 4.5% 100%
  );
  margin: auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 25px;
}
.Link {
  text-decoration: none;
}
/* Topic List/Card Styling - Ends */

#DeleteButton {
  all: unset;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

#DeleteButton:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

#TopicsCard {
  border-style: solid;
  border-width: 0.1px;
  background-color: white;
  width: 99.5%;
}

#CommentCard {
  border-style: solid;
  border-width: 0.1px;
  background-color: white;
  text-align: left;
}
